@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import './functions';

.hex {
	&.clickable {
		cursor: pointer;
	}
	display: inline-block;
	box-sizing: border-box;
	width: 75px;
	height: 43px;
	text-align: center;
	border: 2px solid black;
	margin-left: -2px;
	border-top: 0;
	border-bottom: 0;
	position: relative;
	margin-bottom: 20px;
	z-index: 500;
	&:after,
	&:before {
		content: '';
		box-sizing: border-box;
		display: block;
		position: absolute;
		transform-origin: center center 0px;
		bottom: 0;
		left: -2px;
		width: 75px;
		height: 43px;
		border: 2px solid black;
		border-top: 0;
		border-bottom: 0;
		z-index: -5;
		cursor: pointer;
	}
	&:after {
		transform: rotate(-60deg);
	}
	&:before {
		transform: rotate(60deg);
	}
	&.even {
		left: -37px;
	}
	.info-box {
		opacity: 0;
		transition: opacity .1s ease;
		cursor: pointer;
	}
	&:hover{
		.info-box {
			opacity: 1;
		}
		&:before,
		&:after {
			cursor: pointer;
		}
	}
	.type-color(desert);
	.type-color(mountain);
	.type-color(forest);
	.type-color(swamp);
	.type-color(water);
	.type-color(hill);
	.type-color(road);
	.type-color(other);
}
