@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

.hex {
	&.clickable {
		cursor: pointer;
	}
	display: inline-block;
	box-sizing: border-box;
	width: 75px;
	height: 43px;
	text-align: center;
	border: 2px solid black;
	margin-left: -2px;
	border-top: 0;
	border-bottom: 0;
	position: relative;
	margin-bottom: 20px;
	&:after,
	&:before {
		content: '';
		box-sizing: border-box;
		display: block;
		position: absolute;
		top: 0;
		left: -2px;
		width: 75px;
		height: 43px;
		border: 2px solid black;
		border-top: 0;
		border-bottom: 0;
	}
	&:after {
		transform: rotate(-60deg);
	}
	&:before {
		transform: rotate(60deg);
	}
	&.even {
		left: -37px;
	}
	&.type-ground {
		background: brown;
		&:after,
		&:before {
			background: brown;
		}
	}
	&.type-water {
		background: blue;
		&:after,
		&:before {
			background: blue;
		}
	}
	&:hover {
		&.type-ground {
			background: tint(brown, 20%);
			&:after,
			&:before {
				background: tint(brown, 20%);
			}
		}
		&.type-water {
			background: tint(blue, 20%);
			&:after,
			&:before {
				background: tint(blue, 20%);
			}
		}
	}
}
